langgraph==0.6.6

langchain==0.3.27
langchain-community==0.3.29

langchain-groq==0.3.7
langchain-chroma==0.2.5
langchain-text-splitters==0.3.9
langchain-huggingface==0.3.1

chromadb==1.0.20

sentence-transformers==5.1.0
pypdf==6.0.0

python-dotenv==1.1.1
pymongo

fastapi
uvicorn


#start the server:  uvicorn main:app --reload