.con1header{
  font-size: 10px;
  padding: 4em;
}

.items_img img{ 
  width: 100%;
  border-radius: 7px;
}
.items_img img:hover{
  box-shadow: 3px 3px 35px 3px rgb(224, 224, 224);
  transition: 0.3s;
}


.move{
  color: hotpink;
  padding-top: 3px;
  padding-bottom: 2px;
  /* border-top: gray solid thin; */
 text-align: center;
 font-weight: bolder;
 border-radius: 5px;
 cursor: pointer;
 border: solid black 1px;

 
}
.move:hover
{
    color: red;
    transition: .3s;
    
}